
@import '../../utlis/variables.scss';

.wrap {
    max-width: $maxWidthSmaller;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

.imgWrap {

}

.img {
    max-height: 30rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.textWrap {
    margin-top: 2rem;
    padding-left: $sitePaddings;
    padding-right: $sitePaddings;
    padding-bottom: $componentVerticalPadding;
}

.title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: none;
}

.social {
    text-align: center;
    margin-top: 1rem;

    // TODO this should be class
    > a {
        margin-right: 5px;
    }
}


.perex {
    text-align: center;
    font-style: italic;
}

.tabWrap {
    margin-top: 3rem;
}

.tabControls {
}

.tabControl {
    text-decoration: none;
    padding: 0.75rem 2rem;
    display: inline-block;
    background-color: $colorWhite;
    color: $colorHref;
    border: 1px solid $colorHref;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    border-radius: 1rem;;

    &:visited {
        color: $colorHref;
    }

    &:hover {
        background-color: $colorHref;
        color: $colorWhite;
    }

    &.activeControl {
        background-color: $colorHref;
        color: $colorWhite;

        &:hover {

        }
    }

}

.textBefore {
}

.textAfter {
    margin-top: 0.5rem;
    font-size: 0.85em;
    p {
        margin: 0;
    }
}

.tabContent {
    display: none;
    padding: 1rem 0;

    &.activeContent {
        display: block;
        animation: fadeIn 0.75s;
    }

    > p:first-child {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        text-transform: none;
        margin-bottom: 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

.contactEmail {
    display: block;
    font-weight: 500;
    margin-bottom: 3rem;
}

.tableRow {
    display: flex;
    
    p {
        margin: 0;
    }

    > div {
        padding: 0.5em 1rem;
    }

    &:last-child {

        border-bottom: 1px solid $colorMain;
    }

    &:first-child {  
        .tableLeft {
            border-top-left-radius: 1rem;
        }

        .tableRight {
            border-top-right-radius: 1rem;
        }
    }

    &:nth-child(2n + 1) {
        > div {
            background-color: $colorHeader;
        }
    }
}

.tableLeft {
    border-top: 1px solid $colorMain;
    border-left: 1px solid $colorMain;
    width: 60%;
}

.tableRight {
    width: 40%;
    text-align: right;
    border-top: 1px solid $colorMain;
    border-left: 1px solid $colorMain;
    border-right: 1px solid $colorMain;
}

.tableHeader {
    font-weight: 600;
    color: $colorWhite;

    .tableLeft,
    .tableRight {
        text-align: center;
        background-color: $tableHeading!important;    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tableLeft {
        border-top-left-radius: 1rem;
    }

    .tableRight {
        border-top-right-radius: 1rem;
    }
}

.tableRowEmpty {

    .tableLeft {
        border-left: none;
        background-color: transparent!important;
    }

    .tableRight {
        border-left: none;
        border-right: none;
        background-color: transparent!important;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@media screen and (min-width: 600px) { 
    .wrap {
        display: flex;
    }

    .imgWrap {
        width: 20rem;
        padding-left: $sitePaddings;
    }

    .textWrap {
        width: calc(100% - 20rem);
        padding-left: calc(#{$sitePaddings} * 2);
        margin-top: 0;
    }

    .title {
        text-align: left;
    }

    .perex {
        text-align: left;
    }

    .social {
      //  text-align: right;
    }
}


@media screen and (min-width: 600px) { 
    .wrap {
        padding-top: 8rem;
    }

    .imgWrap {
        padding-left: 0;
    }
}

@media screen and (min-width: 800px) { 
    .tableLeft {
        width: 70%;
    }

    .tableRight { 
        width: 30%;
    }
}