@import '../utlis/variables.scss';

.title {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}



@media screen and (min-width: 560px) { 
    .list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}



@media screen and (min-width: 700px) { 
    .listShort {
        article {
            &:last-child {
               // display: none;
            }
        }
    }
}

@media screen and (min-width: 860px) {  
    .list {
        margin-top: 5rem;
    }
}