@import '../utlis/variables.scss';

.title {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 560px) { 
    .list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}