@import '../../utlis/variables.scss';

.articleWrap {
    text-align: center;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    margin-top: 0;
    padding-top: 2rem;
    margin-bottom: 1rem;
    text-transform: none;
}

.perex {
    margin-top: 0;
    margin-bottom: 1rem;
    font-style: italic;
}

.img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: block;
}

.perexInner {
}

.hidden {
    display: none;
}

.text {
    margin-top: 0;
    margin-bottom: 2rem;

    > p {
        margin-top: 0;
    }
}

.dateWrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 2rem;
    border-top: 1px solid $colorHeader;
    order: 2;
    width: auto;
    max-width: $maxWidth;
    margin-left: $sitePaddings;
    margin-right: $sitePaddings;

    time {
        white-space: nowrap;
    }
}

.name {
    margin-top: 1rem;
    white-space: nowrap;
}

.mainContent {
    order: 0;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: $sitePaddings;
    padding-right: $sitePaddings;
}

.list {
    display: flex;
    flex-direction: column;
    order: 3;
    padding-left: calc(#{$sitePaddings} - 1rem);
    padding-right: calc(#{$sitePaddings} - 1rem);

    article {
        width: 100%;
    }
}


.tagsWrap {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}

.tag {
    display: inline-flex;
    align-items: center;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    text-decoration: none;

    color: $colorMain;
    transition: color 0.25s ease-in-out;

    &:visited {
        color: $colorMain;
    }

    &:hover {
        color: $colorHrefHover;
        text-decoration: underline;
    }

    > svg {
        margin-right: 0.5rem;
    }
}

@media screen and (min-width: 500px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        article {
            width: 50%;
        }
    }
}

@media screen and (min-width: 700px) {
    .dateWrap {
        flex-direction: row;
        justify-content: space-between;

        time {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .tagsWrap {
        text-align: left;
    }

    .name {
        margin-top: 0;
        margin-left: 2rem;
    }
    
    .title {
        padding-top: 0;
    }
}

@media screen and (min-width: 1000px) {
    .articleWrap {
        padding-top: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .articleWrap {
        text-align: left;
    }

    .mainContent {
        width: 70%;
    }

    .list {
        width: 30%;
        order: 2;
        flex-direction: column;

        article {
            width: 100%;

            &:first-child {
                padding-top: 0;
            }
        }
    }

    .dateWrap {
        order: 3;
        width: 100%;
    }
}
