@import '../../utlis/variables.scss';

.articleWrap {
    text-align: center;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    margin-top: 0;
    padding-top: 2rem;
    text-transform: none;
}

.perex {
}

.perexInner {
}

.hidden {
    display: none;
}

.text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dateWrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 2rem;
    border-top: 1px solid $colorHeader;
    order: 2;
    width: auto;
    max-width: $maxWidth;
    margin-left: $sitePaddings;
    margin-right: $sitePaddings;
}

.name {
    margin-top: 1rem;
}

.mainContent {
    order: 0;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: $sitePaddings;
    padding-right: $sitePaddings;
}

.list {
    display: flex;
    flex-direction: column;
    order: 3;
    padding-left: calc(#{$sitePaddings} - 1rem);
    padding-right: calc(#{$sitePaddings} - 1rem);

    article {
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        article {
            width: 50%;
        }
    }
}

@media screen and (min-width: 700px) {
    .dateWrap {
        flex-direction: row;
        justify-content: flex-end;
    }

    .name {
        margin-top: 0;
        margin-left: 2rem;
    }
    
    .title {
        padding-top: 0;
    }
}

@media screen and (min-width: 1000px) {
    .articleWrap {
        padding-top: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .articleWrap {
        text-align: left;
    }

    .mainContent {
        width: 70%;
    }

    .list {
        width: 30%;
        order: 2;
        flex-direction: column;

        article {
            width: 100%;

            &:first-child {
                padding-top: 0;
            }
        }
    }

    .dateWrap {
        order: 3;
        width: 100%;
    }
}
