@import '../../utlis/variables.scss';

.wrapInner {
    padding: 1rem $sitePaddings;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap {
    background-color: $colorHeader;
    border-bottom: 1px solid $colorHeaderBorder;
    max-height: 6rem;
}


.logo {
    width: 9rem;
    //height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    > div {
        display: block;
        width: 100%;

    }
}



@media screen and (min-width: 1000px) {
    .wrapInner {
        height: 8rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo {
        width: 14.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    .wrap {
        max-height: 8rem;
        height: 8rem;
    }
}