@import '../../utlis/variables.scss';

.wrapInner {
    padding: 1rem $sitePaddings;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.wrap {
    background-color: $colorHeader;
    border-bottom: 1px solid $colorHeaderBorder;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    > div {
        display: block;
        width: 100%;

    }
}


.logoImg {
    width: auto;
    height: auto;
    display: block;
    max-height: 4rem;
}


@media screen and (min-width: 1000px) {
    .wrapInner {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
    }

    .logo {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        transition: all 0.25s ease-in-out;
    }
    
    .logoImg {
        max-height: 5.5rem;
        transition: all 0.25s ease-in-out;
    }

    .wrap {
        min-height: 6rem;
        transition: all 0.25s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    .isScrolled {
        &.wrap {
            min-height: 0;
        }

        .logoImg {
            max-height: 3.5rem;
        }

        .logo {
            padding-top: 0;
            padding-bottom: 0;

        }
    }
}